<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myocardial Infarction OR Corononary Heart Disease Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <div style="font-size: 32px; color: white;"><b>LifeFactors</b></div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('diabeteshome') }}">Diabetes</a></li>
                <li><a href="{{ url_for('hearthome') }}">Heart</a></li>
                <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    

    <div class="main-content">
        <div class="left-column">
        <h5> Heart Disease Prediction </h5>
        <div class="form-container">
        <form method="POST" action="/predictheart" class="form">
                <br><br>
                Age:
                <input type="number" name="AgeCatValue" min="0" max="110" placeholder="Enter Age" required>
                <br><br>
                Gender at birth:
                <select name="Sex">
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
                <br><br>
                Are you Diabetic or Prediabetic:
                <select name="Diabetic">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Have you ever had a Kidney Disease:
                <select name="KidneyDisease">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Enter your height in cm:
                <input type="number" name="Height" min = "0" placeholder="Enter Height" required>
                <br><br>
                Enter your weight in kg:
                <input type="number" name="Weight" min = "0" placeholder="Enter Weight" required>
                <br><br>
                Have you ever had Skin Cancer:
                <select name="SkinCancer">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Do you have Asthma :
                <select name="Asthma">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Have you smoked more than 100 cigarettes in lifetime:
                <select name="Smoking">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Apart from your job, have you done physical activity in the past 30 days:
                <select name="PhysicalActivity">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Have you ever had a stroke:
                <select name="Stroke">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Heavy Alcohol Consumption:
                DO you consume heavy alcoholic drinks per week?
                  more than 14 if youre a MALE
                  more than 7 if youre a FEMALE
                <select name="AlcoholDrinking">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                Rate your general Health:
                <select name="GenHealth">
                    <option value="1">Excellent *****</option>
                    <option value="2">Very Good ****</option>
                    <option value="3">Good ***</option>
                    <option value="4">Fair **</option>
                    <option value="5">Poor *</option>
                </select>
                <br><br>
                <br><br>
                <label for="MentalHealth">How many days in the past 30 days do you think you have had poor mental health?</label>
                <input type="number" name="MentalHealth" min="0" max="30" placeholder="Enter the number of days" required>
                <br><br>
                Physical Health: (In the past 30 days, have you been doing physical activity?
                Not including your SEDENTARY job?)
                <input type="number" name="PhysicalHealth" min="0" max="30" placeholder="Enter Physical Health" required>
                <br><br>
                Difficulty Walking:
                <select name="DiffWalk">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br><br>
                What is your Ethnic Background:
                <select name="Race">
                    <option value="0">White</option>
                    <option value="1">Black</option>
                    <option value="2">Hispanic</option>
                    <option value="3">Asian</option>
                    <option value="4">American Indian</option>
                    <option value="4">Alaskan Native</option>
                    <option value="5">Other</option>
                </select>
                <br><br>
                How many hours a day do you sleep?:
                <input type="number" name="SleepTime" min="1" max="24" placeholder="Enter the hours of sleep you get" required>
            <br><br>
            <a href="{{ url_for('predict_heart') }}"><button class="diabetes-button">Predict</button></a>
        </form>
        </div>
    </div>
    </div>

    <footer>
        <p>&copy; Senior Project I. All rights reserved BrownMonday.</p>
    </footer>

</body>
</html>
